    <header class="header mb-5">
      <!--
      *** TOPBAR ***
      _________________________________________________________
      -->
      <div id="top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 offer mb-3 mb-lg-0">{{!-- <a href="#" class="btn btn-success btn-sm">Offer of the day</a><a href="#" class="ml-1">Get flat 35% off on orders over $50!</a> --}}</div>
            <div class="col-lg-6 text-center text-lg-right">
              <ul class="menu list-inline mb-0">
                {{#if user}}
                  <li class="list-inline-item">
                    <i class="user-icon fa fa-user fa-lg"></i>
                    <a href="/user/{{user.id}}">{{user.name}}</a>
                    <a href="#"><i class="user-icon fa fa-sign-out fa-lg" id="logOut"></i></a>
                  </li>
                    
                {{else}}
                  <li class="list-inline-item"><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                  <li class="list-inline-item"><a href="/register">Register</a></li>
                {{/if}}
                <li class="list-inline-item"><a href="contact.html">Contact</a></li>
                <li class="list-inline-item"><a href="#">Recently viewed</a></li>
              </ul>
            </div>
          </div>
        </div>
        {{> logIn}}
        <!-- *** TOP BAR END ***-->
        
        
      </div>
      {{> navbar}}
      <div id="search" class="collapse">
        <div class="container">
          <form role="search" class="ml-auto" method="get" action="/product">
            <div class="input-group">
              <input type="text" placeholder="Search" class="form-control" name="keyword">
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </header>